
<form action='/shoppingcart/1' method='GET' class="buttonD">
	<button>My Shopping Cart </button>
</form>
<h1> Welcome {{username}}</h1>                               

<br>


<div class="container">
	
	<div class="row">
		{{#each items}}
			<div class="col-xs-12 col-sm-3">
				<h2 style=" font-size: 12px">{{item_name}}</h2>
				<a href="/itemlist/{{barcode_id}}">
				<img src={{img_url}} class="bootstrapImag" width=200  height=170 alt="Food image">
				</a>
				
			</div>
		{{/each}}
	</div>
	


</div>



<br>
<h3>More coming soon...</h3>