<h1>Log In </h1>


<form action='/home' method='POST'>
	Username:<input type="text" name="username" placeholder="Type your Username"> <br>
	Password:<input type="password" name="password" placeholder="password">
	<br><br>
	<button>Log In</button>
</form>


<a href="/newUser">New User</a>

