
<form action='/finish' method='GET'>
	<label>
		Credit Card Number (no spaces): (Enter only number and  at least 14 digits and at most 16 digits)
		<input type="text" name="payment" required pattern="[0-9]{14,16}">  
	</label>
	<button>Sumbit</button>

</form>