<!DOCTYPE html>
<html>

<!-- we dont need public/css/{{style}} because public is in app.js-->
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/{{style}}">
    <title>{{title}}</title>
</head>

<body>
	<div>
		
	</div>

    {{{body}}}

</body>

</html>